* {
  all: unset;
}

.bar-container {
  background-color: #1a1b26; 
  color: #a9b1d6;
  padding-left: 4px;
  padding-right: 0;
  margin-right: -4px;
  // border: 1px solid rgba(122, 162, 247, 0.3);
  // display: flex;
}

.stat, .clock {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: 900;
  letter-spacing: 4px;
  font-size: 12px;
  color: #a9b1d6;
  padding: 0;
  margin: 0;
}
