// Main Niri Configuration
// Split into separate files for better organization


include "input.kdl"
include "output.kdl"
include "layout.kdl"
include "startup.kdl"
include "window-rules.kdl"
include "keybinds.kdl"

prefer-no-csd
hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    // skip-at-startup
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// prefer-no-csd

// Screenshot path
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Animation settings
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}
