// Window rules for specific applications

workspace "1"
workspace "2"
workspace "3"
// Work around WezTerm's initial configure bug
window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

window-rule {
    opacity 0.9
}

window-rule {
    match is-active=true
    opacity 1.0
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Firefox picture-in-picture as floating
window-rule {
    match app-id=r#"vivaldi-stable$"# title="^Picture-in-Picture$"
    open-floating true
}

// Block password managers from screen capture
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
    open-floating true
}

// Enable rounded corners for all windows
/-window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id=r#"thunar$"#
    match title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"org.gnome.gThumb$"#
    open-floating true
}

window-rule {
    match app-id=r#"mpv$"#
    open-maximized true
}

window-rule {
    match app-id=r#"com.github.th_ch.youtube_music$"#
    open-maximized true

}

window-rule {
    match app-id=r#"obsidian$"#
    open-maximized true

}

window-rule {
    match app-id=r#"feh$"#
    open-floating true
}

window-rule {
    match app-id=r#"brave-browser$"#
    open-maximized true
}

window-rule {
    match app-id=r#"firefox$"#
    open-maximized true
}

window-rule {
  match app-id=r#"org.pulseaudio.pavucontrol$"#
  open-floating true
  default-floating-position x=1930 y=10 relative-to="top-left"
}

window-rule {
  match app-id=r#"kitty$"#
  // opacity 1.0
}
