// ============================================================================
// NIRI WINDOW RULES
// ============================================================================
prefer-no-csd
// --- Workspaces ---
workspace "b"
workspace "d"
workspace "m"
workspace "n"
workspace "c"
workspace "v"

// --- Corner Radius (all windows) ---
window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

// --- Workspace Assignments ---
window-rule {
    match app-id=r#"librewolf$"#
    open-on-workspace "b"
    open-maximized true
}
window-rule {
    match app-id=r#"vlc$"#
    open-on-workspace "v"
    open-maximized true
}
window-rule {
    match app-id=r#"qtws$"#
    open-on-workspace "m"
    open-maximized true
}

// ---- Active windows more opacity 

window-rule {
    match is-active=false
    opacity 0.9
}

// --- Floating: Centered & Sized ---
window-rule {
    match app-id=r#"wiremix$"#
    match app-id=r#"ncdu$"#
    match app-id=r#"btop$"#
    open-floating true
    default-column-width { fixed 1000; }
    default-window-height { fixed 800; }
}
window-rule {
    match app-id=r#"jome$"#
    match app-id=r#"org.qbittorrent.qBittorrent$"#
    match app-id=r#"org.pulseaudio.pavucontrol$"#
    open-floating true
    default-column-width { fixed 800; }
    default-window-height { fixed 600; }
}
window-rule {
    match app-id=r#"kitty-notes$"#
    match app-id=r#"yazi$"#
    match app-id=r#"swayimg$"#
    open-floating true
    default-column-width { fixed 1200; }
    default-window-height { fixed 1000; }
}

window-rule {
    match app-id=r#"obsidian$"#
    open-maximized true
    open-on-workspace "n"

}

window-rule {
    match app-id=r#"kitty$"#
    default-column-width { proportion 0.33; }
}
