/* --- Tokyo Night Color Definitions --- */
@define-color bg_dark      #1a1b26;
@define-color bg_highlight #24283b;
@define-color fg_clock      #7dcfff;
@define-color red           #f7768e;
@define-color green         #9ece6a;
@define-color comment       #565f89;

/* Global Reset */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "Terminess Nerd Font";
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 14px;
}

/* Main Waybar Window - WIDTH control for vertical bar */
window#waybar {
    background: @bg_dark;
    color: @fg_clock;
}

window#waybar.fullscreen {
    background: transparent;
    color: transparent;
    opacity: 0;
}

/* Unified Module Styling */
#clock,
#memory,
#pulseaudio,
#network,
#tray,
#battery,
#custom-gpu,
#cpu,
#custom-cava,
#custom-day_word, 
#custom-day, 
#custom-month, 
#custom-year {
    background: @bg_highlight;
    color: @fg_clock;
    transition: none;
    border-radius: 0;
    margin-left: 5px;   
    margin-right: 5px;  
}

/* Standard Standalone Modules */
#clock, #memory, #pulseaudio, #network, #tray, #battery, #custom-gpu, #cpu, #custom-cava {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 5px 0;
}

/* --- THE DATE STACK --- */
#custom-day_word, #custom-day, #custom-month, #custom-year {
    margin-top: 0;
    margin-bottom: 0;
}

#custom-day_word {
    margin-top: 4px;
    padding: 5px 5px 0px 5px;
}

#custom-day, 
#custom-month {
    padding: 0px 5px 0px 5px;
}

#custom-year {
    margin-bottom: 4px;
    padding: 0px 5px 5px 5px;
}

/* --- SWAY WORKSPACES --- */
#workspaces {
    background: transparent;
    padding: 0;
    margin-left: 5px;
    margin-right: 6px;
}

#workspaces button {
    font-family: inherit;
    font-size: 16px; 
    color: @comment;
    padding: 0 8px;
    margin: 4px 2px;
    background: transparent;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.focused {
    color: @fg_clock;
    /* background: @bg_highlight; */
    background: transparent;
}

#workspaces button.urgent {
    color: @bg_dark;
    background-color: @red;
}

#workspaces button:hover {
    background: @bg_highlight;
    color: @fg_clock;
}

/* --- TRAY & ALERTS --- */
#tray {
    padding: 2px 0;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    color: @bg_dark;
    background-color: @red;
}
