* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: FiraCode Nerd Font;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 3px;
}

window#waybar {
    background-color: transparent;
}

/* --- Color Definitions --- */
@define-color dark-grey #2F2F2F;
@define-color light-grey #D8DEE9;
@define-color blue #81A1C1;
@define-color dark-blue #5E81AC;
@define-color red #BF616A;
@define-color green #A3BE8C;

/* --- Workspaces --- */
#workspaces {
    background-color: @dark-grey;
    border-radius: 12px;
    margin: 6px 3px;
    padding: 0px 4px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 6px 10px;
    margin: 6px 3px;
    border-radius: 8px;
    color: white;
    background-color: transparent;
}

/* Inactive (occupied/unoccupied) workspaces */
#workspaces button:not(.empty) {
    color: white;
    opacity: 1;
    background-color: transparent;
}

#workspaces button.empty {
    color: white;
    opacity: 0.4;
    background-color: transparent;
}

#workspaces button.active {
    color: @blue;
    opacity: 1;
}

#workspaces button.urgent {
    color: white;
    background-color: @red;
    opacity: 1;
}

/* --- General Modules --- */
#memory,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#cpu,
#pulseaudio,
#custom-gpu,
#tray {
    border-radius: 12px;
    margin: 6px 3px;
    padding: 6px 12px;
    background-color: @dark-grey;
    color: white;
    opacity: 1;
}

#custom-power {
    margin-right: 6px;
}

#custom-logo {
    padding-right: 7px;
    padding-left: 7px;
    margin-left: 5px;
    font-size: 14px;
    border-radius: 12px;
    background-color: @dark-grey;
    color: white;
}

/* --- Battery States --- */
#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: @red;
    color: white;
}

#battery.charging {
    background-color: @green;
    color: white;
}

/* --- Tooltip --- */
tooltip {
    border-radius: 12px;
    padding: 15px;
    background-color: @dark-grey;
}

tooltip label {
    padding: 5px;
    background-color: @dark-grey;
    color: white;
}
