* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Iosevka Term";
  font-size: 18px;
  padding: 0;
}

/* Global Bar Styles */
window#waybar {
  background: rgba(0, 0, 0, 0.7);
  color: #727169;
}

tooltip {
  background-color: #181616;
  border: 1px solid #9c8d7e;
}

/* Module Layout */
#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#disk,
#pulseaudio {
  color: #727169;
  margin: 2px 2px 0px 0px;
  padding: 2px 8px;
}

#custom-oslogo {
  color: #727169;
  /* background-color: #727169; */
  margin-right: 6px;
  margin-left: 2px;
  padding-left: 2px;
  padding-right: 10px;
}

/* Workspace States */
#workspaces button.empty {
  color: #54546d;
  background-color: transparent;
}

#workspaces button {
  color: #727169;
  background-color: transparent;
  margin-right: 2px;
  margin-left: 2px;
  padding-right: 2px;
  padding-left: 2px;
}

#workspaces button.focused {
  background-color: #727169;
  color: #181616;
  margin-right: 2px;
  margin-left: 2px;
  padding-right: 2px;
  padding-left: 2px;
}

#workspaces button.visible {
  background-color: rgba(45, 43, 43, 0.7);
  color: #727169;
  margin-right: 2px;
  margin-left: 2px;
  padding-right: 2px;
  padding-left: 2px;
}

#workspaces button.urgent {
  background-color: #c34043;
  color: #181616;
  margin-right: 2px;
  margin-left: 2px;
  padding-right: 2px;
  padding-left: 2px;
}
