@import url("./colors.css");

*
{
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "iosevka";
    font-weight: bold;
    font-size: 14px;
    padding: 0;
}

window#waybar
{
    background: @window-bg;
    border: 1px solid @border-primary;
}

#clock, #pulseaudio, #network, #tray, #battery, #custom-gpu, #cpu, #custom-cava, #memory
{
    margin: 8px 8px 8px 0px;
    padding: 2px 8px 2px 8px;
    color: @workspace-bg;
    background-color: @border-primary;
    border: 2px solid @border-secondary;
}

#workspaces
{
    margin: 8px 0px 8px 16px;
}

#workspaces button
{
    all: initial;
    color: @workspace-default;
    padding: 2px 8px;
    margin: 2px;
}

#workspaces button.focused
{
    color: @workspace-focused;
}

#workspaces button.urgent,
#battery.warning, #battery.critical, #battery.urgent
{
    background-color: @border-primary;
    padding: 2px 8px;
    margin: 2px;
    color: @window-bg;
}

#workspaces button:not(.empty) {
    color: @workspace-focused;
}

#workspaces button.empty {
    color: @workspace-empty;
    opacity: 0.65;
}

#workspaces button.active {
    color: @base-bg;
    background: @accent-lava;
    padding: 2px 8px;
    margin: 2px;
}
