@import url("./colors.css");
*
{
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "FiraCode Nerd Font";
    font-weight: bold;
    font-size: 14px;
    padding: 0;
}
window#waybar
{
    background: transparent;
}
#clock, #pulseaudio, #network, #tray, #battery, #custom-gpu, #cpu, #custom-cava, #memory
{
	background-color: rgba(46, 52, 64, 0.7);
	padding: 3px 10px;
	margin: 3px 3px;
	color: #9DA9A0;
	border-radius: 0px 4px 5px 0px;
}
/* Rounded corners for first and last modules */
#memory {
    border-radius: 5px 0px 0px 5px;
}
#clock {
    border-radius: 0px 5px 5px 0px;
    margin-right: 10px;
}
#network {
	border-radius: 5px 0px 0px 5px;
}
#workspaces
{
    background-color: rgba(46, 52, 64, 0.7);
    padding: 4px 10px;
    margin: 3px 0px;
    border-radius: 5px;
    margin-left: 10px;
}
#workspaces button
{
    all: initial;
    color: #06402B;
    padding: 2px 8px;
    margin: 2px;
}
#workspaces button.focused
{
    color: #06402B;
}
#workspaces button.urgent,
#battery.warning, #battery.critical, #battery.urgent
{
    background-color: @border-primary;
    padding: 2px 8px;
    margin: 2px;
    color: @window-bg;
}
#workspaces button:not(.empty) {
    color: #9DA9A0;
}
#workspaces button.empty {
    color: rgba(157, 169, 160, 0.4);
    opacity: 0.65;
}
#workspaces button.active {
    color: @base-bg;
    background: #64734C;
    padding: 2px 8px;
    margin: 2px;
}
