* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "GohuFont 11 Nerd Font";
    font-weight: 400;
    font-size: 11px;
    padding: 1px;
    letter-spacing: 0px;
}

/* Window */
window#waybar {
    background-color: #1e2326;
}

window#waybar.fullscreen {
    background: transparent;
    color: transparent;
    opacity: 0;
}

/* Unified background blocks */
.modules-left,
.modules-center,
.modules-right {
    background-color: transparent;
    margin-right: -2px;
    margin-bottom: -2px;
}

/* Common module styling - darker backgrounds */
#clock,
#pulseaudio,
#network,
#tray,
#battery,
#custom-gpu,
#cpu,
#custom-cava,
#memory,
#custom-date {
    background: rgba(45, 49, 54, 0.8);
    /* line-height: 1.1; */
    padding: 5px 0;
    margin: 4px 0;
    color: #d3c6aa;
    border-radius: 0;
}

/* Workspaces */
#workspaces {
    background: transparent;
    padding: 5px 0;
    padding-right: 5px;

}

#workspaces button {
    all: initial;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: rgba(211, 198, 170, 0.55);
    padding: 2px 8px;
    margin: 2px;
    background: transparent;
}

/* Active workspace - everforest green */
#workspaces button.active {
    color: #a7c080;
    background-color: transparent;
}

/* Urgent states */
#workspaces button.urgent,
#battery.warning,
#battery.critical,
#battery.urgent {
    color: #1e2326;
    background-color: #e67e80;
}
