* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Iosevka Term";
  font-size: 18px;
  padding: 0;
}

window#waybar {
  background: rgba(35, 33, 54, 0.7);
  color: #6e6a86;
}

tooltip {
  background-color: #2a273f;
  border: 1px solid #c4a7e7;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#disk,
#pulseaudio {
  color: #6e6a86;
  margin: 2px 2px 0px 0px;
  padding: 2px 8px;
}

#workspaces button.empty {
  color: #44415a;
  background-color: transparent;
}

#workspaces button {
  color: #6e6a86;
  background-color: transparent;
  margin-right: 2px;
  margin-left: 2px;
  padding-right: 2px;
  padding-left: 2px;
}

#workspaces button.focused {
  background-color: #6e6a86;
  color: #232136;
  margin-right: 2px;
  margin-left: 2px;
  padding-right: 2px;
  padding-left: 2px;
}

#workspaces button.visible {
  background-color: rgba(42, 39, 63, 0.7);
  color: #6e6a86;
  margin-right: 2px;
  margin-left: 2px;
  padding-right: 2px;
  padding-left: 2px;
}

#workspaces button.urgent {
  background-color: #eb6f92;
  color: #232136;
  margin-right: 2px;
  margin-left: 2px;
  padding-right: 2px;
  padding-left: 2px;
}
