/* Window and borders */
@define-color window-bg          #000000;
@define-color border-primary     #000000;
@define-color border-secondary   #000000;

/* New color definition for module background */
@define-color module-bg-default  #2E3440;
/* Old bar-bg is now removed/redundant as we use transparent for the bar itself */

/* Workspaces */
@define-color workspace-default #000000;
@define-color workspace-focused #000000;
@define-color workspace-empty   #000000;
@define-color workspace-bg      #000000;

/* General module colors */
@define-color module-fg-default #9DA9A0;
@define-color module-fg-active  #5E81AC;
@define-color workspace-fg-focus #06402B;

/* Workspaces */
@define-color workspace-default   #8c734e; /* Unfocused workspace */
@define-color workspace-focused   #d1b994; /* Focused workspace */
@define-color workspace-empty     #6f5b3c; /* Empty workspace */
@define-color workspace-bg        #1b140a; /* Module background */
